<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Ajeje</title>
</head>

<body>
    <!-- Barra di navigazione-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a href="" class="navbar-brand" style="padding-left: 50px;">
                <!-- Testo a sinistra -->
                <span class="text-uppercase font-weight-bold">Blog di Ajeje Brazorf</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse" style="padding-right: 50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="esperienzeLavorative.html" class="nav-link">Esperienze lavorative</a></li>
                    <li class="nav-item"><a href="hobbies.html" class="nav-link">Hobbies</a></li>
                    <li class="nav-item"><a href="chiSono.html" class="nav-link">Chi sono</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid padd" style="padding-top: 20px;">
        <div class="row">
            <!-- PRIMA COLONNA-->
            <div class="col-md-4" style="background-color: navajowhite;">
                <!--Prima card-->
                <div class="card">
                    <div class="pt-100">
                        <img src="AldoBaglio.jpg" width="300px" height="250px" class="card-img-top" alt="l'originale, LUI">
                        <div class="card-body">
                            <h5 class="card-title">Chi sono</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ullamcorper nisi. Donec vestibulum et arcu cursus elementum. Donec at hendrerit risus. Integer a laoreet enim, ultricies vehicula orci. Sed convallis, velit
                                ut vestibulum accumsan, tortor ante tincidunt orci, sed eleifend elit nunc eu nisi. Etiam semper facilisis fringilla. Quisque euismod est eros, rutrum aliquet ligula vulputate nec. Vivamus faucibus metus eu sapien pretium,
                                sed porttitor velit fermentum. Aenean semper rhoncus lacus, laoreet tincidunt purus vulputate sed. Donec ut quam nibh. Phasellus eget tincidunt massa. Nunc sagittis, velit ut luctus tempus, metus nunc feugiat nisi, vitae
                                sagittis lectus dui a elit. Sed eget ante dui. Duis tempus vitae est eu ultrices. Ut aliquet, velit ac interdum venenatis, dolor quam dictum magna, ac feugiat ante magna sit amet nisi. Quisque eget condimentum lacus. Quisque
                                ac ligula non eros scelerisque vehicula eu ac justo. Etiam euismod metus nisl, quis mollis velit porta nec. Etiam mattis neque et lacus laoreet scelerisque.</p>
                            <a href="chiSono.html">
                                <p class="card-text"><small class="text-muted">Continua a leggere...</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECONDA COLONNA-->
            <div class="col-md-4" style="background-color: slategray;">
                <!--Seconda card-->
                <div class="card">
                    <div class="pt-100">
                        <img src="Nullazzo.PNG" height="250px" class="card-img-top" alt="L'onorevole Nullazzo">
                        <div class="card-body">
                            <h5 class="card-title">Le mie esperienze lavorative</h5>
                            <p class="card-text">Phasellus at rutrum arcu. Donec tempor elit eu augue commodo, vitae viverra sapien placerat. Duis placerat faucibus lorem, sed tincidunt est euismod sed. Ut vitae magna pretium metus sodales gravida non non justo. Cras porttitor
                                nulla non enim volutpat volutpat. Vivamus finibus ornare luctus. Proin quis suscipit eros, luctus iaculis leo. Proin sed neque sit amet massa vestibulum posuere nec a nisl. Mauris enim neque, fermentum eleifend fringilla
                                ac, pellentesque vitae dolor. Curabitur tincidunt accumsan orci. Vivamus placerat felis urna, sed condimentum leo iaculis et. Donec ut massa accumsan, pellentesque tellus ultrices, semper lorem. Mauris accumsan lobortis
                                tortor nec accumsan. Sed laoreet vitae ipsum ut finibus. Nam tristique arcu eget massa venenatis molestie. Suspendisse varius sodales orci, eu lacinia turpis bibendum ut. Etiam euismod metus nisl, quis mollis velit porta
                                nec. Etiam mattis neque et lacus laoreet scelerisque.</p>
                            <a href="esperienzeLavorative.html">
                                <p class="card-text"><small class="text-muted">Continua a leggere...</small></p>
                            </a>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TERZA COLONNA-->
            <div class="col-md-4" style="background-color: skyblue">
                <!--Terza card-->
                <div class="card">
                    <div class="pt-100">
                        <img src="Bomber.jpg" height="250px" class="card-img-top" alt="il leggendario goal">
                        <div class="card-body">
                            <h5 class="card-title">I miei hobbies</h5>
                            <p class="card-text">Quisque eget condimentum lacus. Quisque ac ligula non eros scelerisque vehicula eu ac justo. Etiam euismod metus nisl, quis mollis velit porta nec. Etiam mattis neque et lacus laoreet scelerisque. Nullam quis erat et arcu tempor
                                tempus sed quis sapien. In vitae felis mollis, condimentum velit vel, egestas est. Nam non felis lectus. Vestibulum convallis in lorem non ultrices. Aliquam auctor non tellus vel fringilla. Nulla nec mollis nisl. Nam sed
                                massa sit amet nulla volutpat auctor vel at diam. Nam maximus interdum consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas interdum, nibh in mollis varius, tortor urna vulputate neque, sed
                                vestibulum sem justo vitae orci. Morbi vulputate accumsan efficitur. Curabitur eleifend, lorem at volutpat commodo, erat urna volutpat magna, eget tristique dui lorem ut sem. In maximus, eros ac elementum luctus, lectus
                                mi interdum nulla, eleifend mattis nisl nisi eu nisi. Nunc a rutrum nunc.</p>
                            <a href="hobbies.html">
                                <p class="card-text"><small class="text-muted">Continua a leggere...</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer id="pièDiPagina" class="row text-center">

        <div class="col-12 col-md-4">
            <h4 style="padding-top: 12px;">Copyright &copy; - 2020 Nadif Nizar</h4>
            <div class="row">
                <div class="col-12 col-md-12">
                    Scritto in HTML all'interno dell'ambiente di Visual Studio Code 2019 utilizzando il framework Bootstrap
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4" style="padding-top: 12px;">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="https://cdn.icon-icons.com/icons2/517/PNG/512/letter_icon-icons.com_51108.png" width="60px" height="60px">
                    <div class="col-12">
                        Ajeje@brazorf.je
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img src="https://cdn.icon-icons.com/icons2/317/PNG/512/device-mobile-phone-icon_34452.png" width="60px" height="60px">
                    <div class="col-12">
                        +39 0123456789
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4" style="padding-top: 12px;">
            <h4>Informazioni</h4>
            <div class="row">
                <div class="col-12 col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ullamcorper nisi.
                </div>
                <div class="col-12 col-md-6">
                    Integer tincidunt ante et mattis consequat. Quisque ante quam, euismod vel eleifend tempor, consectetur nec ligula.
                </div>
            </div>
        </div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>